ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B71C1C;
  padding-left:10px;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #F44336;
}
.float{
	float:right;
}
.product {
	font-size:40px;
	font-family: 'Romanesco', cursive;
}
.product1 {
	color:#880E4F;
}
.footer {
	background-color:#C62828;
	padding:30px;
}
.name{
	color:black;
	font-size:20px;
}
form {
	text-align:center;
	padding:50px;
}
formup{
	font-size:20px;
}
.footer1 {
	background-color:#C62828;
}
.para{
	font-size:20px;
	text-align:center;
}
.contact {
	color:#880E4F;
	text-align:center;
	padding-top:30px;
}
.special {
	color:#880E4F;
	text-align:center;
	padding-top:10px;
}
.offer (
   color:red
)
cake {
	padding:5px;
}